.item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 15px;
  background-color: var(--flour-white-color);

  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.item + .item {
  margin-top: 10px;
}

.status {
  width: 15px;
  height: 15px;

  border-radius: 50%;
}
.status.online {
  background-color: var(--green-color);
}
.status.offline {
  background-color: var(--red-color);
}
.avatar {
  border-radius: 5px;
}
.name {
  font-weight: 500;
  color: var(--title-text-color);
}
