.transactionHistory {
  margin: 0 auto;

  border-collapse: collapse;
  border-radius: 5px;

  background-color: var(--white-color);

  box-shadow: var(--common-shadow);
  overflow: hidden;
}

.transactionHistory th + th,
.transactionHistory td + td {
  border-left: 2px solid var(--flour-white-color);
}

.transactionHistory td,
.transactionHistory th {
  text-align: center;
  padding: 15px;
  min-width: 300px;
}

.transactionHistory th {
  background-color: var(--cyan-color);
  color: var(--flour-white-color);
}

.transactionHistory tr:nth-child(even) {
  background-color: var(--light-gray-color);
}
